<html>
<base href="/">
<head>
	<link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.css"/>
	<link rel="stylesheet" href="./bower_components/angular-bootstrap-toggle/dist/angular-bootstrap-toggle.css"/>
	<style type="text/css">
	[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
	}</style>
</head>
<body ng-app="different">
	<ui-view></ui-view>

	<script src="./bower_components/jquery/dist/jquery.js"></script>
	<script src="./assets/webcam.js"></script>
	<script src="./js/site.js"></script>
	<script src="./bower_components/angular/angular.js"></script>
	<script src="./bower_components/angular-resource/angular-resource.js"></script>
	<script src="./bower_components/angular-ui-router/release/angular-ui-router.js"></script>
	<script src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="./bower_components/angular-bootstrap-toggle/dist/angular-bootstrap-toggle.js"></script>
	<script src="./app.js"></script>
	<script src="./home-controller.js"></script>
</body>
</html>