
<html>
    <head>
        <link rel="stylesheet" href="./login.css"/>
      </head>
      <body>
        
    <div class="login-page">
        <div class="form">
          <form class="login-form">
            <p><b>Free-Watch</b></br></p>(Turn your old smartphone into a surveillance camera)</p>
            <input type="text" placeholder="username"/>
            <input type="password" placeholder="password"/>
            <button onClick="window.open('/');">login</button>
            <p class="message">Not registered? <a href="#" onClick="window.open('/user');">Create an account</a></p>
          </form>
        </div>
      </div>
    </body>
 </html>