<html>

<body>
	<button id="start">Start</button>

	<button id="stop">Stop</button>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src='/socket.io/socket.io.js'></script>
<script src="./remote2.js"></script>

</html>