
<div class="fluid-container" style="padding-left:45px">
    <div class="panel-heading">
        <center>
            <h3>Remote Assistant</h3>
        </center>
    </div>
    <div class="panel-body">

        <div class="row" style="padding-left:15px"  > 
            <h3 >Remotely starting surveillance camera at home</h3>

            </br>
            <button type="button" class="btn btn-default" ng-click="start()">Start</button>
            <button type="button" class="btn btn-default" ng-click="stop()">Stop</button>
            <button type="button" class="btn btn-danger" ng-click="alert()">Alert</button>

        </div>
    </div>
</div>
